.header-tc-ht {
  max-width: 1440px;
  margin: 0 auto;
}

.chuc_nang {
  width: 100%;  
  height: 120px;
  background: black;
  display: flex;
}

.table_chuc_nang {
  color: rgba(185, 176, 176, 1);
  font-size: 20px;
  font-family: Inika;
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  margin-left: 121px;
  margin-top: 49px;
  display: flex;
}

.table_chuc_nang ul li:first-child {
  margin-left: 0px;
}

.table_chuc_nang li {
  display: inline-block;
  margin-left: 160px;
}


